.medium {
    width:25%;
}

.big {
    width:50%;
}

body {
    background: #adebad;
    padding: 0 10%;
}

.button {
    background-color: #99bbff;
    color: black;
    border: 2px solid #00802b; 
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
}

a:hover {
  background-color: #555;
}

p, h1, a {
    font-size: 50px;
    font-style: oblique;
    font-family: Comic Sans MS;
}
